{
    "daemon": "http://localhost:8080?allow_debug=1",
    "receivers": {
	"insecure": "insecure://"
    },	
    "transformations": {
	"null": "null://",
	"chicken": "chicken://zxx",
	"clucking": "chicken://eng?clucking=true",
	"commits": "githubcommits://"
    },
    "dispatchers": {
	"null": "null://",
	"log": "log://",
	"blob": "file:///usr/local/data/webhookd/?metadata=skip"
    },
    "webhooks": [
	{
	    "endpoint": "/insecure-test",
	    "receiver": "insecure",
	    "transformations": [ "commits" ],
	    "dispatchers": [ "log", "blob" ]
	}
    ]
}
