{
    "daemon": "http://localhost:8080?allow_debug=1",
    "receivers": {
	"insecure": "insecure://"
    },	
    "transformations": {
	"null": "null://",
	"chicken": "chicken://zxx",
	"clucking": "chicken://eng?clucking=true",
	"commits": "githubcommits://"
    },
    "dispatchers": {
	"null": "null://",
	"log": "log://",
	"blob": "file:///tmp/webhookd/?metadata=skip",
	"repo-local": "findingaid-repo://?cache=file:///tmp/findingaid/",
	"repo-s3": "findingaid-repo://?cache=s3blob%3A%2F%2Fsfomuseum-data%3Fregion%3Dus-west-2%26prefix%3Dfindingaid-debug%2F%26credentials%3Dsession&acl=public-read"	
    },
    "webhooks": [
	{
	    "endpoint": "/insecure-test",
	    "receiver": "insecure",
	    "transformations": [ "commits" ],
	    "dispatchers": [ "log", "blob" ]
	},
	{
	    "endpoint": "/findingaid-test",
	    "receiver": "insecure",
	    "transformations": [ "commits" ],
	    "dispatchers": [ "log", "repo-s3" ]
	}		
    ]
}
